{% import "post_header.html" as post_header %}
{% extends "base.html" %}

{% block meta %}
<title>{{ page.title }} - Maxwell Beck</title>
{% endblock meta %}

{% block content %}
    <section>
        <h1 class="m-t2">Maxwell Beck</h1>
        <article>
            {{ post_header::render(page=page) }}
            {{ page.content | safe }}
        </article>
    </section>

    <script data-isso="https://isso.ryt.one/" src="https://isso.ryt.one/js/embed.min.js"></script>
    <section id="isso-thread"></section>
{% endblock content %}
