{% import "post_preview.html" as post_preview %}
{% extends "base.html" %}

{% block meta %}
    <title>Maxwell Beck</title>
{% endblock %}

{% block content %}
<section>
    <h1 class="m-t2">Maxwell Beck</h1>
    Hi!
    I'm a hobbyist programmer from Illinois with interests in realtime graphics, music, and retro hardware.
    If you would like to talk, here are a few ways to contact me:

    <ul>
        <li>Email: <a href="mailto:max@ryt.one">max@ryt.one</a></li>
        <li>Discord: rytone#9803</li>
    </ul>

    I also have profiles on some other sites:

    <ul>
        <li><a href="https://reddit.com/u/rytone">Reddit</a></li>
        <li><a href="https://www.pouet.net/user.php?who=99339">Pouët</a></li>
        <li><a href="https://csdb.dk/scener/?id=34429">CSDB</a></li>
    </ul>
</section>

<section>
    <h3 class="h-tab m-t2">Latest Articles</h3>
    
    {% set section = get_section(path="blog/_index.md") %}
    {% for page in section.pages | slice(end=3) %}
        {{ post_preview::render(page=page) }}
    {% endfor %}

</section>

<section>
    <h3 class="h-tab m-t2">Projects</h3>
    <i>TODO...</i>
</section>

<section>
    <h3 class="h-tab m-t2">Demoscene</h3>
    <i>TODO...</i>
</section>
{% endblock content %}
