{% import "post_preview.html" as post_preview %}
{% extends "base.html" %}

{% block meta %}
    <title>Maxwell Beck</title>
{% endblock %}

{% block content %}
<section>
    <h1 class="m-t2">Maxwell Beck</h1>
    Hi!
    I'm a hobbyist programmer from Illinois with interests in realtime graphics, music, and retro hardware.
    If you would like to talk, here are a few ways to contact me:

    <ul>
        <li>Email: <a href="mailto:max@ryt.one">max@ryt.one</a></li>
        <li>Discord: rytone#9803</li>
    </ul>
</section>

<section>
    <h3 class="h-tab m-t2">Latest Articles</h3>
    
    {% set section = get_section(path="blog/_index.md") %}
    {% for page in section.pages | slice(end=3) %}
        {{ post_preview::render(page=page) }}
    {% endfor %}

</section>

<section>
    <h3 class="h-tab m-t2">Projects</h3>
    <i>TODO...</i>
</section>

<section>
    <h3 class="h-tab m-t2">Demoscene</h3>
    <p>
        As a manifestation of all my interests, I currently participate in the demoscene and am part of the demogroup 
        <a href="https://onslaught.c64.org">Onslaught</a>.
        You can find all of my releases on 
        <a href="https://www.pouet.net/user.php?who=99339">Pouët</a>
        and
        <a href="https://csdb.dk/scener/?id=34429">CSDB</a>,
        but I will put my most notable ones here too:
    </p>

    <article>
        <h2 class="m-b0">Eightfold</h2>
        <h4 class="m-t0 m-b0 dim">Commodore 64 8K Demo - CSDB Only Sprites Compo</h4>
        <img src="screenshots/isometria.gif" />
        View on <a href="https://www.pouet.net/prod.php?which=87761">Pouët</a>, <a href="https://csdb.dk/release/?id=198857">CSDB</a>
    </article>

    <article>
        <h2 class="m-b0">Isometria</h2>
        <h4 class="m-t0 m-b0 dim">Commodore 64 4K Intro - 8th @ Solskogen 2020 combined 64K/4K intro compo</h4>
        <img src="screenshots/isometria.gif" />
        View on <a href="https://www.pouet.net/prod.php?which=86219">Pouët</a>, <a href="https://csdb.dk/release/?id=193438">CSDB</a>
    </article>

    <article>
        <h2 class="m-b0">The Night Shift</h2>
        <h4 class="m-t0 m-b0 dim">4K Executable Graphics - 16th @ Revision 2020 executable graphics compo</h4>
        <img src="screenshots/the_night_shift.jpg" />
        View on <a href="https://www.pouet.net/prod.php?which=85283">Pouët</a>
    </article>
</section>
{% endblock content %}
